<h2>수정 페이지 입니다.</h2>
<form action='/home/update/<%=@post.id%>' method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목 : <input type="text" name="post_title" value='<%=@post.title%>'> <br> 
    내용 : <textarea name="post_content"><%=@post.content%></textarea> 
    <input type="submit" value="수정">
</form>
