<h1>전체 글 목록입니다!</h1>
<a href="/home/new"> 새 글 쓰기 </a>
<br>
<br>
<% Post.all.each do |p| %>
  제목 : <%=p.title%><br/>
  내용 : <%=p.content%><br /><br>
  <a href="/home/destroy/<%=p.id%>"> [삭제] </a>
  <a href="/home/edit/<%=p.id%>">[수정]</a><br>
  --------------------<br />
<% end %>
