<h1>첫 페이지 입니다.</h1>

<form action="/attack">
누가? 
<br>
    <input type="text" name="userA">
<br>
누구를? 
<br>
    <input type="text" name="userB">
<br>
    <input type="submit" value="공격">
</form>
<br>
<br>
<form action="/defense">
누가?
<br>
    <input type="text" name="userA">
<br>
누구의 공격을?
<br>
    <input type="text" name="userB">
<br>
    <input type="submit" value="방어">
</form>
